<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apthai.ap_questionaire.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.apthai.ap_questionaire.app.questionniare_delegate"
        android:allowBackup="true"
        android:icon="@drawable/logo_ap"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoTitle" >
        <activity
            android:name="com.apthai.ap_questionaire.app.LoginActivity"
            android:label="@string/app_name" android:windowSoftInputMode="stateAlwaysHidden" android:clickable="true"
            android:focusableInTouchMode="true"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.QuestionniareActivity"
            android:label="@string/title_activity_questionniare"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display02Activity"
            android:label="@string/title_activity_display02"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display01Activity"
            android:label="@string/title_activity_display01"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.ResetPasswordComplate"
            android:label="@string/title_activity_reset_password_complate"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display03Activity"
            android:label="@string/title_activity_display03"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.CustomerLookUpActivity"
            android:label="@string/title_activity_customer_look_up"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateVisible|adjustResize" android:clickable="true"
            android:focusableInTouchMode="true" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.NotFoundCustomerActivity"
            android:label="@string/title_activity_not_found_customer"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.AddCustomerActivity"
            android:label="@string/title_activity_add_customer"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|keyboard"
             >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display04Activity"
            android:label="@string/title_activity_display04"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display05Activity"
            android:label="@string/title_activity_display05"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display06Activity"
            android:label="@string/title_activity_display06"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display07Activity"
            android:label="@string/title_activity_display07"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display08Activity"
            android:label="@string/title_activity_display08"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display09Activity"
            android:label="@string/title_activity_display09"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display10Activity"
            android:label="@string/title_activity_display10"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display11Activity"
            android:label="@string/title_activity_display11"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display12Activity"
            android:label="@string/title_activity_display12"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display13Activity"
            android:label="@string/title_activity_display13"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display14Activity"
            android:label="@string/title_activity_display14"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display15Activity"
            android:label="@string/title_activity_display15"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display17Activity"
            android:label="@string/title_activity_display17"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display18Activity"
            android:label="@string/title_activity_display18"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display19Activity"
            android:label="@string/title_activity_display19"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.CustomerListActivity"
            android:label="@string/title_activity_customer_list"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.CustomerInfomationActivity"
            android:label="@string/title_activity_customer_infomation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.CustomerFinishedAnswerActivity"
            android:label="@string/title_activity_customer_finished_answer"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display16Activity"
            android:label="@string/title_activity_display16" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display20Activity"
            android:label="@string/title_activity_display20" >
        </activity>
        <activity
            android:name="com.apthai.ap_questionaire.app.Display21Activity"
            android:label="@string/title_activity_display21" >
        </activity>
    </application>

</manifest>
